asgiref
bcrypt
Django
django-cors-headers
django-environ
django-filter
django-jsonform
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
drf-writable-nested
pillow
psycopg2-binary
PyJWT
sqlparse
tzdata
django-cloudinary-storage==0.3.0